/* Common styles */
body {
    background-color: white;
    margin: 0;
}

.scroll-bar {
    overflow: auto;
}

.topbar {
    background-color: black;
    position: relative;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 17px 15px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}

.topbar .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.topbar .navigation ul li {
    margin-right: 10px;
}

.topbar .navigation ul li:last-child {
    margin-right: 0;
}

.topbar .navigation ul li span,
.topbar .navigation ul li a  {
    
    
    color:silver;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    padding: 6px 40px;
    
}

.topbar .navigation ul li a button {
    color: black;
    
    
}

.topbar .navigation ul li a:hover {
    background-color: darkcyan;
}

/* Align right */
.topbar .navigation ul li.right-align {
    margin-left: auto;
}

/* Secondbar styles */
.secondbar {
    background-color: black;
    padding: 7px 15px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}

.secondbar .logoo {
    margin-left: auto; /* Align logo to the right */
}

.secondbar .logoo img {
     width: 130px; /* Set maximum width for the logo */
   
   
}

.secondbar .navigation2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.secondbar .navigation2 a {
    color: white;
    text-decoration: none;
    padding: 10px 55px; /* Padding for the buttons */
    border-radius: 20px;
}

.secondbar .navigation2 a:hover {
    background-color: darkcyan;
}